<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conestoga's Student Blog</title>
</head>
<body>
    <main>
        <form>
            <table>
                <tr>
                    <td><label>Username:</label></td>
                    <td><input name="username" type="text"></td>
                </tr>

                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="password" name="password"></td>
                </tr>

                <tr>
                    <td><button type="submit">Login</button></td>
                    <td><button type="button">Login as guest</button></td>
                </tr>
            </table>
        </form>
    </main>
    
</body>
</html>