</head>
<body>
    <div class="container">
        <h1>Conestoga's Student Blog</h1>

<nav>
    <a href="/main">Blog</a>
    <a href="/writeBlog">Write a blog</a>
    <a href="/adminReviewPage">Content review page</a>
</nav>