<%- include('layouts/header') %>
    <title>Welcome</title>
<%- include('layouts/head-nav') %>
    <main>
        <p class="welcomeParagraph">
            Have something on your mind? This is your space to share thoughts, ideas, and experiences. Whether it’s a story, an opinion, or just something you want to express, feel free to write here. Prefer to read instead? Explore what others have posted and see what’s on their minds. You can use an alias for privacy when posting. Blog posts won’t be uploaded immediately; admins will review them to ensure they meet our standards before sharing with the public. If you’re ready to dive in, head over to the blog. Want to contribute? Start by writing your own post!
        </p>
        <div class="welcomeImageDiv"><img class="welcomeImage" src="/images/writing-png-34759.png" alt="a hand writing"></div>
        
        
    </main>
<%- include('layouts/footer') %>